/*
* Style button contact-us on footer
*/

.addThis_listSharing {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 994;
    background-color: transparent;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 98;
}

.addThis_listSharing .listSharing_action {
    position: absolute;
    bottom: 140px;
    border-radius: 12px;
    right: 20px;
    max-width: 300px;
    background-color: #f5f6fa;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform-origin: 100% bottom;
    transform-origin: 100% bottom;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: -webkit-transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.addThis_listing .addThis_item {
    margin: 0;
    padding: 10px 15px;
}

.addThis_listing .addThis_item:not(:last-of-type) {
    border-bottom: 1px solid #ecedf1;
    box-shadow: 0 1px 0 0 #fff;
}

.addThis_listing .addThis_item .addThis_item--icon {
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.addThis_listing .addThis_item .addThis_item--icon svg {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
}

.addThis_listing .addThis_item .addThis_item--icon .tooltip-text {
    opacity: 1;
    visibility: visible;
    position: initial;
    width: calc(100% - 30px);
    padding-left: 15px;
    text-align: left;
    background: transparent;
    color: #1d243e;
    font-size: 13px;
    font-weight: 400;
}

.addThis_listing .addThis_item:hover .tooltip-text {
    color: var(--shop-color-hover);
}

.addThis_listing .addThis_item.addThis_item__fbchat {
    display: none;
}

.addThis_listing {
    padding-left: 0;
    list-style: none;
}

.addThis_listSharing .addThis_close {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    border: 0;
    outline: none;
    padding: 6px;
    background: transparent;
}

.addThis_listSharing .addThis_close svg {
    opacity: 0.6;
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}

.addThis_iconContact {
    position: fixed;
    bottom: 110px;
    right: 13px;
    margin: 0;
    z-index: 994;
    z-index: 99;
    cursor: pointer;
}

.addThis_iconContact .svgico>svg {
    fill: #ffffff;
    width: 28px;
    height: 46px;
    transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.addThis_iconContact .svgico .svgico--close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
    transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.addThis_iconContact .svgico .svgico--close svg {
    fill: #ffffff;
    width: 17px;
    height: 46px;
}

.addThis_listSharing.active+.addThis_iconContact .svgico .svgico--close {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.addThis_listSharing.active+.addThis_iconContact .svgico>svg {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
}

.addThis_listSharing.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

.addThis_listSharing.active .listSharing_action {
    -ms-transition-delay: 0.1s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.1s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.addThis_iconContact .box-contact .svgico {
    position: relative;
    z-index: 4;
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
    background: var(--e-global-color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.addThis_iconContact .box-contact:before,
.addThis_iconContact .box-contact:after {
    position: absolute;
    content: '';
    height: 48px;
    width: 48px;
    left: 0;
    top: 0;
    background: var(--e-global-color-primary);
    border-radius: 50%;
}

.addThis_iconContact .box-contact:before {
    animation: euiBeaconPulseSmall 2s infinite ease-out;
}

.addThis_iconContact .box-contact:after {
    animation: euiBeaconPulseSmall 2s infinite ease-out 0.4s;
}

.listSharing_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes euiBeaconPulseSmall {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.4);
        opacity: 0;
    }
}